@media only screen and (min-width: 400px) and (max-width: 600px) {
    .tree ul {
        padding-top: 50px;
    }

    .tree li {
        padding: 50px 5px 0px 0px;
    }

    li:has(+ li > a.level-5) {
        display: none;
    }
    .tree li a {
        width: 35px;
        height: 35px;
    }

    .mate-container-level-5 {
        display: none !important;
     }

    .level-5 {
       display: none !important;
    }
}
